<div class="admin-panel">
    <h1>Panel administracyjny</h1>
    <mat-tab-group class="custom-tab-group" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Użytkownicy">
            <ng-template matTabContent>
                <div *ngIf="usersLoaded" class="tab-content">
                    <mat-list>
                        <mat-list-item *ngFor="let user of users">
                            <p class="post-title" mat-line>{{ user.name }} - {{ user.email }}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Posty">
            <ng-template matTabContent>
                <div *ngIf="posts$.length === 0" class="no-favorites">
                    <mat-icon>info_outline</mat-icon>
                    Nie ma żadnych postów w serwisie 😢
                </div>
                <div class="tab-content">
                    <mat-list>
                        <mat-list-item *ngFor="let post of posts$" class="post-item">
                            <div class="post-details">
                                <h4 mat-line><a class="post-title"
                                                [routerLink]="['/blog/detail/' + post._id]">{{ post.title }}</a>
                                    <button mat-raised-button color="warn" class="delete-button" (click)="deleteBlogItem(post._id)">
                                        Usuń post
                                    </button>
                                </h4>
                            </div>
                        </mat-list-item>

                    </mat-list>
                    <button mat-raised-button  class="delete-button all-posts" (click)="deleteAllPosts()">
                        Usuń wszystkie posty
                    </button>
                </div>

            </ng-template>
        </mat-tab>

    </mat-tab-group>
</div>
