.not-found-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.not-found-container h1 {
    font-size: 72px;
    color: #ff4040;
}

.not-found-container p {
    font-size: 24px;
    color: #333;
}

.btn-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-home:hover {
    background-color: #0056b3;
}
