body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.signup.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #6c757d;

}

.entry-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  background: #f8f9fa;
  border-radius: 4px;
  border: 1px solid #6c757d;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #6c757d;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #6c757d;
}

input[matInput] {
  background-color: #d6d8db;
  border-radius: 4px;
  padding: 10px;
  color: #000000 !important;
  border: 1px solid #6c757d;
}

input[matInput]::placeholder {
  color: black !important;
  opacity: 1;
}

mat-error {
  color: #dc3545;
}

button[mat-raised-button] {
  background-color: #80bdff;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.global-error-message {
  color: #dc3545;
  text-align: center;
  margin-top: 10px;
}
