<div class="container reset-password-container">
    <h1 class="header-text">Zresetuj hasło</h1>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm" autocomplete="off" method="POST" class="form-horizontal">
        <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
                <input matInput [(ngModel)]="credentials.email" type="text" name="mem_email" placeholder="Email" required>
                <mat-error *ngIf="!credentials.email && resetForm.submitted">Email jest wymagany</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <button mat-raised-button  class="btn-primary btn-block" type="submit">Zresetuj</button>
        </div>
    </form>
</div>
